h2 {}

button {}

p {

    line-height: 2;
}

h1,
h2 {
    text-align: center;
    font-weight: 100;
    text-decoration: underline wavy;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}