section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1682686580391-615b1f28e5ee?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"); */
    background: center/cover url("https://images.unsplash.com/photo-1682686580391-615b1f28e5ee?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"), blueviolet;
    margin: 0 auto;
    /* background-size: cover; */
    /* background: bottom; */
    /* background-position: bottom; */
}

h1 {
    font-size: 150px;
    color: blue;
}